name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: |
          python -m unittest discover -s . -p "test_*.py"

      - name: Deploy to Ubuntu Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 192.168.0.110
          username: admin1
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/ci-cd-python
            git pull
            docker build -t mysite .
            docker stop mysite || true
            docker rm mysite || true
            docker run -d -p 80:5000 --name mysite mysite
